.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-descriptions-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  background-color: #e6f7ff;
}

.flex-container > div {
  background-color: white;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width: 100%;
}

.text {
  font-size: 20px;
}

.title {
  margin-left: 10px; 
  color: #ffc53d; 
  text-transform: uppercase; 
  font-weight: bold; 
  font-size: 30px;
}

.box {
  box-shadow: 5px 5px 5px #bfbfbf;
}

.box-skill {
  background-color: white; 
  margin: 0px 10px; 
  padding: 20px 50px;
}

.content {
  padding: 50px; 
  background-color: #e6f7ff;
}

.timeline {
  text-align: left; 
  margin: 40px;
}

@media screen and (max-width: 480px) {
  .flex-container {
    display: contents;
    background-color: #e6f7ff;
  }
  .title {
    font-size: 19px
  }
  .text {
    font-size: 14px
  }
  .flex-container > div {
    width: auto
  }
  .content {
    padding: 0px; 
  }
  .box-skill {
    padding: 20px 20px;
  }
  .timeline {
    margin: 20px;
  }
}

@import '~antd/dist/antd.css';
